@import "../styles/fonts.css";




.chapter_left {
    width: 80vw;
    height: 25vh;
    display: flex;
    margin-top: 6em;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* border: 2px solid #128312; */
}

.chapter_left .LogoClean {
    width: 13vh;
    height: auto;
    margin-right: 2em;
}

.chapter_left .color_box_left {
    width: 60vw;
    height: 10vh;
    border-radius: 0em 1em 1em 0em;
    justify-self: flex-start;

    left: -1em;
    background-color: rgba(137, 173, 165, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chapter_left .color_box_left .box {
    width: 50vw;
    height: auto;
    padding-left: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.chapter_left h2 {
    font-family: "Roboto_Black";
    font-size: 3em;
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}