@import "../styles/fonts.css";




.chapter_left {
    width: 80vw;
    height: 25vh;
    min-width: 800px;
    display: flex;
    margin-top: 6em;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* border: 2px solid #128312; */
}

.chapter_left .LogoClean {
    width: 13vh;
    height: auto;
    margin-right: 2em;
}

.chapter_left .color_box_left {
    width: 60vw;
    min-width: 700px;
    height: 10vh;
    border-radius: 0em 1em 1em 0em;
    justify-self: flex-start;

    left: -1em;
    background-color: rgba(137, 173, 165, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chapter_left .color_box_left .box {
    width: 50vw;
    min-width: 700px;
    height: auto;
    padding-left: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.chapter_left h2 {
    font-family: "Roboto_Black";
    font-size: 3em;
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}





.chapter_right {
    width: 80vw;
    height: 25vh;
    max-height: 150px;
    display: flex;
    margin-top: 6em;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    /* border: 2px solid #128312; */
}

.chapter_right .LogoClean {
    width: 13vh;
    height: auto;
    margin-right: 2em;
    margin-left: 2em;
    transform: scaleX(-1);
}

.chapter_right .color_box_right {
    width: 60vw;
    min-width: 700px;
    height: 10vh;
    border-radius: 1em 0em 0em 1em;
    justify-self: flex-start;

    right: -1em;
    background-color: rgba(137, 173, 165, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chapter_right .color_box_right .box {
    width: 50vw;
    min-width: 700px;
    height: auto;
    padding-left: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid red; */
}


.chapter_right h2 {
    font-family: "Roboto_Black";
    font-size: 3em;
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}



@media (min-width: 1901px) {

    .chapter_left h2 {
        font-size: 4em;
       
    }

    .chapter_right h2 {
 
        font-size: 4em;

    }
}

@media (max-width: 1400px) and (min-width: 320px) {
    .chapter_left {
        width: 80vw;
        height: 15vh;
        min-width: 320px;
        display: flex;
        margin-top: 2em;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        /* border: 2px solid #128312; */
    }
    
    .chapter_left .LogoClean {
        width: 7vh;
        height: auto;
        margin-right: 1em;
    }
    
    .chapter_left .color_box_left {
        width: 70vw;
        min-width: 320px;
        height: 5vh;
        border-radius: 0em 10px 10px 0em;
        justify-self: flex-start;
    
        left: -2em;
        background-color: rgba(137, 173, 165, 0.4);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .chapter_left .color_box_left .box {
        width: 50vw;
        min-width: 320px;
        height: auto;
        padding-left: 2em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    
    .chapter_left h2 {
        font-family: "Roboto_Black";
        font-size: 2em;
        color: whitesmoke;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }


    .chapter_right {
        width: 80vw;
        height: 15vh;
        max-height: 150px;
        display: flex;
        margin-top: 2em;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        /* border: 2px solid #128312; */
    }
    
    .chapter_right .LogoClean {
        width: 7vh;
        height: auto;
        margin-right: 2em;
        margin-left: 2em;
        transform: scaleX(-1);
    }
    
    .chapter_right .color_box_right {
        width: 70vw;
        min-width: 320px;
        height: 5vh;
        border-radius: 10px 0em 0em 10px;
        justify-self: flex-start;
    
        right: -1em;
        background-color: rgba(137, 173, 165, 0.4);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .chapter_right .color_box_right .box {
        width: 50vw;
        min-width: 700px;
        height: auto;
        padding-left: 4em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* border: 1px solid red; */
    }
    
    
    .chapter_right h2 {
        font-family: "Roboto_Black";
        font-size: 2em;
        color: whitesmoke;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    
  
}