@import "../styles/fonts.css";
@import "../styles/Common.css";

#education {
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
    min-height: 900px;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.chapter_right {
    height: 20vh;
}

.container4 {
    width: 80vw;
    min-width: 1200px;
    max-height: 480px;
    height: 90%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow: visible;
    /* border: 1px solid blue; */
}

.box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#education_img {
    height: 100%;
    width: 100%;
    grid-row: 2/12;
    grid-column: 6/20;
}

.bullets {
    width: 1.5em;
    height: auto;
    margin: 10px;
}

.div01 {
    grid-column: 1/9;
    grid-row: 1/5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 1px solid rgb(0, 153, 255); */
}

.div01 .text_box p,
.div01 .text_box h6,
.div02 .text_box p,
.div02 .text_box h6,
.div03 .text_box p,
.div03 .text_box h6,
.div07 .text_box p,
.div07 .text_box h6 
 {
    text-align: right;
}

.text_box {
    /* border: 1px solid red; */
    width: 90%;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box h6 {
    font-family: "Roboto_Bold";
    font-size: 1em;
    line-height: 1.5em;
}

.box p {
    font-family: "Roboto_Thin";
    font-size: 1em;
    line-height: 1em;
}

.div02 {
    grid-column: 1/9;
    grid-row: 6/9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 1px solid rgb(0, 153, 255); */
}

.div03 {
    grid-column: 4/11;
    grid-row: 10/12;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 1px solid rgb(0, 153, 255); */
}

.div04 {
    grid-column: 15/25;
    grid-row: 9/13;
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(0, 153, 255); */
}

.div05 {
    grid-column: 17/25;
    grid-row: 6/9;
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(0, 153, 255); */
}

.div06 {
    grid-column: 17/25;
    grid-row: 2/4;
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(0, 153, 255); */
}

/* OPTION 1: add a centered bottom entry */
.div07 {
    grid-column: 9/17;      /* centered under the diamonds */
    grid-row: 12/13;        /* bottom row area */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(0, 153, 255); */
}



.div07 .text_box {
    max-width: 420px;
}

/* ---------- LARGE SCREENS ---------- */
@media (min-width: 1901px) {
    .box h6 {
        font-size: 16pt;
        line-height: 2em;
    }

    .box p {
        font-size: 14pt;
        line-height: 2em;
    }

    .box {
        grid-template-columns: repeat(24, 1fr);
    }

    .container4 {
        width: 80vw;
        max-height: 900px;
    }

    .text_box {
        max-width: 500px;
        justify-content: flex-start;
    }

    .div01 {
        grid-column: 1/8;
        grid-row: 1/5;
    }

    .div02 {
        grid-column: 1/7;
        grid-row: 6/8;
    }

    .div03 {
        grid-column: 4/11;
        grid-row: 10/12;
    }

    .div04 {
        grid-column: 15/25;
        grid-row: 10/12;
    }

    .div05 {
        grid-column: 19/25;
        grid-row: 6/8;
    }

    .div06 {
        grid-column: 18/25;
        grid-row: 2/4;
    }

    /* Keep div07 centered on large screens too */
    .div07 {
        grid-column: 9/17;
        grid-row: 12/13;
    }

    .div07 .text_box {
        max-width: 520px;
    }
}

/* ---------- MOBILE / SMALLER SCREENS ---------- */
@media (max-width: 1400px) and (min-width: 320px) {
    #education {
        width: 100vw;
        height: 100vh;
        min-width: 320px;
        min-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        position: relative;
    }

    #education .chapter_right {
        height: 5vh;
    }

    .container4 {
        width: 95vw;
        min-width: 320px;
        max-height: 100vh;
        height: auto;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        overflow: visible;
        /* border: 1px solid blue; */
    }

    #education_img {
        width: 100%;
        height: auto;
    }

    /* NOTE:
       On mobile you currently render ONLY pictureMobile (no div01-div07).
       If you want div07 visible on mobile, render the text blocks in React for mobile too,
       or include the new course text inside Education_M.svg. */
}
