

@font-face {
    font-family: 'Roboto_Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto_Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto_Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}