@import "../styles/fonts.css";
@import "../styles/Common.css";


#hello {
    width: 80vw;
    height: 100vh;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.container {
    width: 80vw;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 10vh;
}

#picture_hello {
    height: 100%;
    width: auto;
    object-fit: cover;

    /* border: 2px solid blue; */
}