@import "../styles/fonts.css";


#hello {
    width: 100vw;
    height: 100vh;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
}

.container {
    width: 80vw;
    height: 95vh;
    margin-left: 15px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 2px solid red;
    position: relative;
    top: -50px;
    /* background-image: url("../pictures/Hello_1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 500% 145%;  */
}

#picture_hello {
    height: 95%;
    width: auto;
    object-fit: cover;
    border: 2px solid yellow;
    z-index: 2;
    position: absolute;
    right: 50%;
}


.hello_text {
    height: 40vh;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

#world {
    width: 40%;
    max-width: 40%;
}

.hello_text h2 {
    font-size: 10em;
    color: black; /* Solid text */
    text-align: center;
    font-family: "Roboto_Black";
    z-index: 3;
}