@import "../styles/fonts.css";
@import "../styles/Common.css";
@import "../styles/Work_slider.css";


#work {
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
    min-height: 900px;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    /*border: 2px solid #128312;*/
}

.container5 {
    width: 80vw;
    min-width: 1200px;
    max-height: 600px;
    height: 90%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    overflow: visible;
    /* border: 1px solid blue; */

}

#work .chapter_right{
    height: 15vh;
}


@media (min-width: 1901px) {

    .container5 {
        width: 80vw;
        height: auto;  /* Allow height to grow dynamically */
        min-height: 70vh;  /* Optional: Ensure it's at least 70vh */
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    
        /* border: 1px solid blue; */
    }

   
}


@media (max-width: 1400px) and (min-width: 320px) {
    #work {
        width: 100vw;
        height: 100vh;
        min-width: 320px;
        min-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
    }

 

}