@import "../styles/fonts.css";

.carousel-container {
    width: 89% !important;
    max-width: fit-content !important;
    height: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden !important;
    /* border: 1px solid salmon; */
}

.swiper-container {
    width: 80% !important;
    height: auto !important;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* border: 1px solid forestgreen; */
}

.swiper-slide {
    background: #bebebe !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: auto !important;
    border-radius: 15px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    /* transform: scale(0.9)  !important; */
    transition: transform 0.3s ease !important;
}

.swiper-slide-active {
    transform: scale(1.1) !important;
}

.swiper-pagination {
    position: relative !important;
    bottom: 10px !important;
    width: 80px !important;

}


/* Default pagination bullets */
.swiper-pagination-bullet {
    background: #00686c !important;
    opacity: 0.5 !important;
    width: 10px !important;
    height: 10px !important;
    transition: all 0.3s ease !important;
}

/* Active bullet */
.swiper-pagination-bullet-active {
    background: #00686c !important;
    opacity: 1 !important;
    width: 1em !important;
    height: 1em !important;
}


/* Change the color of the Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    color: #00686c !important;
    font-family: "Roboto_Black" !important;
    font-size: 1.5rem !important;
    /* Change this to your desired color */
}

/* Optional: Add hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: rgba(137, 173, 165, 0.4) !important;
    /* Different color on hover */
}



@media (min-width: 1901px) {
    .carousel-container {
        width: 100% !important;
    }

    .swiper-container {
        width: 78% !important;
    }
}

@media (max-width: 1400px) and (min-width: 320px) {

    .carousel-container {
        width: 89% !important;
        max-width: 24em !important;
        height: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        overflow: hidden !important;
        /* border: 1px solid salmon; */
    }

    .swiper-container {
        width: 80% !important;
        height: auto !important;
        padding-top: 20px !important;
        padding-bottom: 50px !important;
        /* display: flex;
            align-items: center;
            justify-content: center; */
        /* border: 1px solid forestgreen; */
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #00686c !important;
        font-family: "Roboto_Black" !important;
        font-size: 10pt !important;
        /* Change this to your desired color */
    }


}